<style>
  body {
    overflow: visible;
  }
</style>

 <nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Show and Tell</a>
  </div>    
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
     <li><a href="/#localVenues">Local Venues</a></li>
     <li><a href="/#songkick">Recommendations</a></li>
   </ul>
 </div>
</nav>

<div class="jumbotron text-center" style="opacity: 0.9;">
  <h1><span style="text-transform: capitalize;">{{transportation}}</span> Directions</h1>

  <p>...to {{selectedVenue.name}}</p>

  <div class="row">
    <form novalidate name="mapContainer" class="mapContainer panel">
        <div class="directions" ng-show="directions || directions==undefined"> 
        <label>New Origin:</label> 
        <input type="text" ng-model="newOrigin" name="origin"  required> 
        <!-- <small class="error" id="wrongAddress">Error: \n   -->
        <!-- <span>Sorry this is not a valid address.</span>  -->
        <!-- </small>  -->
        <!-- <label>Destination:</label>  -->
        <input ng-model="endPoint" type="hidden" disabled> 
        <button class="getDirections" ng-click="getDirections()" ng-disabled="mapContainer.$invalid">Get Directions</button>  
        <!-- <button class="clearDirections alert" ng-click="clearDirections()" ng-disabled="mapContainer.$invalid">Clear</button>  -->
        <div class="col-md-8">
          <div id="theMap"></div> 
        </div>
        <div class="col-md-4" style="height:350px;overflow:auto">
          <div id="directionsList"></div> 
        </div>
    </form>
  </div>

  <style> 
  #theMap {
      width:100%;
      height:350px;
      background:#ccc;
      margin: 5px 0;
  }
  .mapContainer {
      width:100%;
      margin:5px;
      background-color: #eeeeee;
  }
  img {
      max-width: none;
  }
  #wrongAddress {
      display:none;
  }
  </style> 

</div>