<div id="panel">
  <form id="trip">
    <label><b>Start: </b></label> <input type="text" id="start">
    <label><b>End: </b></label> <input type="text" id="end">
    <button type="submit" id="go">Submit</button>
  </form>
</div>

<!-- <div id="theMap"></div> -->


<form novalidate name="mapContainer" class="mapContainer panel">
  <div id="theMap"></div> 
    <div class="directions" ng-show="directions || directions==undefined"> 
    <label>Origin: {{mode}}</label> 
    <input type="text" ng-model="origin" name="origin"  required> 
    <!-- <small class="error" id="wrongAddress">Error: \n   -->
    <!-- <span>Sorry this is not a valid address.</span>  -->
    <!-- </small>  -->
    <label>Destination:</label> 
    <input ng-model="endPoint" type="text" disabled> 
    <button class="getDirections" ng-click="getDirections()" ng-disabled="mapContainer.$invalid">Get Directions</button>  
    <button class="clearDirections alert" ng-click="clearDirections()" ng-disabled="mapContainer.$invalid">Clear</button> 
    
    <div id="directionsList"></div> 
  </div> 
</form>

<style> 
#theMap {
    width:100%;
    height:300px;
    background:#ccc;
    margin: 5px 0;
}
.mapContainer {
    width:100%;
    margin:5px;
}
img {
    max-width: none;
}
#wrongAddress {
    display:none;
}
</style> 
<!-- 
{{mode}}

<div>
    <map destination= "1803 E 18th St, Austin Tx 78702" type="roadmap" marker-content="Home xoxo"></map>
</div> -->