 <nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Show and Tell</a>
  </div>    
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
     <li><a href="/#localVenues">Local Venues</a></li>
     <li><a href="/#songkick">Recommendations</a></li>
   </ul>
 </div>
</nav>

<div class="jumbotron text-center" style="opacity: .9;height:600px">

  <!-- <p>Tell me your favorite musician and let me show you similar artists touring nearby.</p> -->
  <div class="row">
    <div class="col-md-6 show">
    <h3>Show Me The Music Around Town or...</h3>
    </div>
    <div class="col-md-6 tell">
    <h3>Tell Me About Recommended Touring Artists</h3>
    </div>

    <div class="col-md-6 pic">
      <a ng-href="/#localVenues"><img ng-src={{picSrc}}></a>
    </div>
    <div class="col-md-6 pic">
      <a ng-href="/#songkick"><img ng-src={{featuredArtist}}></a>
    </div>
  </div>
</div>

<!-- <div id="pic"><img src="../images/austin.jpg"></div> -->
