<div class="jumbotron text-center" style="opacity: .9;height:600px">

  <div class="row">

    <div class="col-md-6 show-and-tell town">
      <a ng-href="/#localVenues"><h4>Show Me The Music Scene Around Town</h4></a>
    </div>
    <div class="col-md-6 show-and-tell tour">
       <a ng-href="/#songkick" ><h4>Tell Me About Similar Artists on Tour</h4></a>
    </div>

    <a ng-href="/#localVenues">
      <div class="col-md-6 pic" style="background-image:url({{picSrc}}); background-size:425px 500px; background-repeat: no-repeat"></div>
    </a>
    <a ng-href="/#songkick">
      <div class="col-md-6 pic" style="background-image:url({{featuredArtist}}); background-size:425px 500px; background-repeat: no-repeat"></div>
    </a>

  </div>
  
</div>