<div class="jumbotron text-center">

  <div class="row">

    <a ng-href="/#localVenues">
      <div class="col-md-6 col-lg-6" style="background-image:url({{picSrc}});">
        <div class="main-insert">
          <h1>Show Me</h1>
          <h4>The Local Music Scene</h4>
        </div>
      </div>
    </a>
    <a ng-href="/#songkick">
      <div class="col-md-6 col-lg-6 pic" style="background-image:url({{featuredArtist}})">
        <div class="main-insert">
          <h1>Tell Me</h1>
          <h4>Touring Artist Recommendations</h4>
        </div>
      </div>
    </a>

  </div>

</div>