<link rel="stylesheet" type="text/css" href="../css/localVenues.css">

<div class="jumbotron text-center">
  <h1>What's Going On In {{city}}?</h1>
  <div class="row">
    <div class="col-md-12">
     
     <div class="col-md-7 cityVenues">
      <table width="100%">
        <h3>Venues in {{city}}</h3>
        <tr ng-repeat="venue in localVenues">
          <td><a ng-click='getVenue(venue.displayName, venue.lat, venue.lng)'>{{venue.displayName}}</a></td>
          <td>{{venue.street}}, {{venue.zip}}</td>
          <td class="directions">
            <a ng-click="getMap(venue.lat, venue.lng, 'BICYCLING')" class="modalLink"><i class="fa fa-bicycle"></i></a>  
            <a ng-click="getMap(venue.lat, venue.lng, 'TRANSIT')" class="modalLink"><i class="fa fa-bus"></i></a>  
            <a ng-click="getMap(venue.lat, venue.lng, 'WALKING')" class="modalLink"><i class="fa fa-male"></i></a>  
            <a ng-click="getMap(venue.lat, venue.lng, 'DRIVING')" class="modalLink"><i class="fa fa-car"></i></a>  
          </td>
        </tr>
      </table>  
     </div>

     <div class="col-md-5 cityEvents">
      <table width="100%">
        <h3>All Upcoming Events in {{city}}</h3>
        <tr ng-repeat="event in upcomingEvents" ng-class="getClass(event)">
          <td><a ng-click='getVenue(event.venue.displayName, event.venue.lat, event.venue.lng)'>{{event.displayName}}</a></td>
        </tr>
      </table>  
     </div>
    </div>
  </div>

</div>