<link rel="stylesheet" type="text/css" href="../css/songkick.css">

<div class="jumbotron text-center" style="opacity: 0.9;">
  <h1>Similar Artists</h1>

  <div class="headline">
    <form ng-submit="getArtist()">
      <!-- <p>{{location.latitude}} {{location.longitude}}</p> -->
      <label>{{tagline}}</label>
      <input type="text" ng-model="artist">
    </form>
  </div>


 

  <div class="songkick-table" style="height:400px;overflow:auto;padding:1em;margin:1em;">
    <div class="similarArtists">
      <p ng-repeat="artist in recommendedArtists | orderBy:'-currentCity'">
        <a ng-click='toggleModal(artist.displayName)'><i class="fa fa-play-circle-o fa-1x"></i>  <b>{{artist.displayName}}</b></a> -- <a ng-click='toggleTour(artist)'>Dates {{artist.currentCity}}</a>
      </p>
    </div>
  </div>


  <modal-dialog show='modalShown' width='50%' height='80%'>
   <p style="color:white">Check Out Music By: {{modalArtist}}</p>
   <div class="spotifyEmbed"><iframe ng-src="{{spotifyEmbedURL}}" width="600px" height="450px" frameborder="0" allowtransparency="true"></iframe></div>
  </modal-dialog>
<!-- 
  <modal-dialog show='loadingModal' width='30%' height='30%'>
   <p style="color:white">Check Out Music By: {{modalArtist}}</p>
  </modal-dialog> -->

  <modal-dialog show='tourModal' width='70%' height='90%'>
   <p style="color:white">Tour Dates for: <em>{{artistName}}</em></p>
   <div>
    <!-- <p>{{tour}}</p> -->
    <div class="tour-table" style="height:500px;overflow:auto;border:solid 1px;padding:1em;margin:1em;color:white">
    <!-- <p ng-repeat="tour in artistTour">{{tour}}</p> -->
      <table width="100%" class = "artistTour">
        <tr>
          <!-- <th>Date</th> -->
          <th>Name</th>
          <th>Venue</th>
          <th>City</th>
          <th>Directions</th>
        </tr>
        <tr ng-repeat="tour in artistTour" ng-class="getClass(tour)">
          <!-- <td>{{tour.start.date}}</td> -->
          <td>{{tour.displayName}}</td>
          <td><a ng-click='getVenue(tour.venue.displayName, tour.location.lat, tour.location.lng)'  class="modalLink">{{tour.venue.displayName}}</a></td>
          <td>{{tour.location.city}}</td>
          <td>
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'BICYCLING')" class="modalLink"><i class="fa fa-bicycle"></i></a>  
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'TRANSIT')" class="modalLink"><i class="fa fa-bus"></i></a>  
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'WALKING')" class="modalLink"><i class="fa fa-male"></i></a>  
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'DRIVING')" class="modalLink"><i class="fa fa-car"></i></a>  
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'plane')" class="modalLink"><i class="fa fa-plane"></i></a>
            <!-- <i class="fa fa-rocket"></i> -->
          </td>
        </tr>
      </table>  
    </div>
    <div class="legend">
      <span style="color:orange"> Festival in {{city}} = Orange </span>
      <span style="color:purple"> {{city}} = Purple </span>
      <span style="color:green"> Festival = Green </span>
      <span style="color:blue"> 14+ = Blue </span>
      <span style="color:red"> 21+ = Red </span>
    </div>
     </div>
  </modal-dialog>

</div>