<link rel="stylesheet" type="text/css" href="../css/songkick.css">

<div class="jumbotron text-center">
  <h1>Similar Artists</h1>

  <div class="headline">
    <form ng-submit="getArtist()">
      <label>{{tagline}}</label>
      <input type="text" ng-model="artist">
    </form>
  </div>

  <div class="songkick-table">
    <div class="similarArtists">
      <p ng-repeat="artist in recommendedArtists | orderBy:'-currentCity'">
        <a ng-click='toggleModal(artist.displayName)'><i class="fa fa-play-circle-o fa-1x"></i>  <b>{{artist.displayName}}</b></a> -- <a ng-click='toggleTour(artist)'>Dates {{artist.currentCity}}</a>
      </p>
    </div>
  </div>


<!-- Songkick Modal -->
  <modal-dialog show='modalShown' width='50%' height='550px'>
   <p>Check Out Music By: {{modalArtist}}</p>
   <div class="spotifyEmbed"><iframe ng-src="{{spotifyEmbedURL}}" width="80%" height="450px" frameborder="0" allowtransparency="true"></iframe></div>
  </modal-dialog>


<!-- Tour Modal -->
  <modal-dialog show='tourModal' width='80%' height='70%'>
   <h1 style="color:white">Tour Dates for: <em>{{artistName}}</em></h1>
   <div>
    <div class="legend">
      <p><span class="orange">Festival in {{city}} - Orange </span> | 
      <span class="purple"> {{city}} - Purple </span> | 
       <span class="green">Festival - Green</span> | 
       <span class="pink">14+ - Pink</span> | 
       <span class="red">21+ - Red</span></p>
    </div>
    <div class="tour-table">
      <table width="100%" class = "artistTour">
        <tr>
          <th>Name</th>
          <th>Venue</th>
          <th>City</th>
          <th>Directions</th>
        </tr>
        <tr ng-repeat="tour in artistTour" ng-class="getClass(tour)">
          <td><a ng-href='{{tour.uri}}' target="_blank">{{tour.displayName}}</a></td>
          <td><a ng-click='getVenue(tour.venue.displayName, tour.location.lat, tour.location.lng)'  class="modalLink">{{tour.venue.displayName}}</a></td>
          <td>{{tour.location.city}}</td>
          <td>
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'BICYCLING')" class="modalLink"><i class="fa fa-bicycle"></i></a>  
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'TRANSIT')" class="modalLink"><i class="fa fa-bus"></i></a>  
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'WALKING')" class="modalLink"><i class="fa fa-male"></i></a>  
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'DRIVING')" class="modalLink"><i class="fa fa-car"></i></a>  
            <a ng-click="getMap(tour.venue.lat, tour.venue.lng, 'plane')" class="modalLink"><i class="fa fa-plane"></i></a>
          </td>
        </tr>
      </table>  
    </div>
     </div>
  </modal-dialog>
</div>