table {
  border-collapse:collapse
}

th {
  text-align: center;
  font-family: 'open-sans';

}

td {
  text-align: center;
  padding: .5em;
  border-bottom: 1px solid #000;
  font-family: 'open-sans';
}

/*.blue {
  color: #428bca;
}*/

.directions {
  text-align: center;
  width: 25%;
}

a {
  cursor: pointer;
}

h3 {
  text-decoration: underline;
}

.cityVenues {
  height:450px;
  overflow:scroll;
  padding:1em;
}

.cityEvents {
  height:450px;
  overflow:scroll;
  border-left:solid 1px;
  padding:1em;
  color:black
}

.cityEvents td {
  padding: 1em;
}

.jumbotron {
  opacity: .9
}

td > a:link, a:visited, a:hover, a:active {
  color: inherit;
}