/*body {
  background-image: url(../images/background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}*/

.bg {
 /* Set rules to fill background */
 min-height: 100%;
 min-width: 1024px;
 
 /* Set up proportionate scaling */
 width: 100%;
 height: auto;
 
 /* Set up positioning */
 position: fixed;
 top: 0;
 left: 0;
}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
 img.bg {
   left: 50%;
   margin-left: -512px;   /* 50% */
 }
}

.navbar-header.col-md-6 {
  height: 50px;
}

.navbar-header.col-md-6>a {
  text-align: center;
  margin-left: 170px;
}

div .col-md-6 {
  height:500px;
  padding: 0;
  background-size: 400px 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  z-index:3;
  text-align: center;
  top: 10px;
  width: 230px;
  margin-left: 40%;
}

.navbar-nav {
  top: 14px;
}

.navbar-nav>li {
  font-size: 1.2em;
}

.navbar-brand {
  color: #000000 !important;
  font-size: 2em !important;
  text-align: center;
}
/*
.navbar-header {
  margin-right: 275px;
  margin-left: 275px;
}*/

.navbar-nav>li>a {
  color: #000000 !important;
}

.navbar-inverse {
  background-color: #d5d5d5 !important;
  border-color: #d5d5d5 !important;
}


div .show-and-tell {
  text-align: center;
  height: 115px;
  background: no-repeat;
  position: absolute;
  top: 450px;
  z-index: 2;
  color: white;
  background-color: black;
  opacity: .75;
  width: 37%;
  font-family: 'Anton', sans-serif;
}

a {
  color: inherit !important;
}

a:link {
  color: white;
}

.town {
  left: 119px;
}

.tour {
  left: 545px;
}

h4 {
  font-size: 2em !important;
}

body {
  background-color: #f0f0f0;
  font-family: 'Anton', sans-serif !important;
}

.main-insert {
  margin-top: 300px;
  color: black;
  background-color: #d5d5d5;
  border-radius: 280px;
  cursor: pointer;
  /*opacity: .8;*/
}
