th {
  text-align: left;
  text-decoration: underline;
  font-size: 1.3em;
  color: white;
}

.similarArtists p {
  text-align: center;
}

.spotifyEmbed {
  height: 80%;
}

.white {
  color: white;
}

.green, .green td {
  color: green;
}

.red, .red td {
  color: red;
}

.blue, .blue td {
  color: pink;
}

.purple, .purple td {
  color: purple;
}

.orange, .orange td {
  color: orange;
}

.legend {
  font-size: 1.2em;
  color: #d5d5d5;
}

td {
  text-align: left;
  color: white;
  font-family: 'open-sans';
  padding: 2px;
  font-size: 1em;
}

a {
  color: inherit;
}

.jumbotron {
  opacity: .9;
}

label {
  font-size: 1.2em;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 150px;
    text-align: center;
    text-transform: lowercase;
}

a {
  cursor: pointer;
}

.songkick-table {
  font-weight: thin;
  height:400px;
  overflow:auto;
  padding:1em;
  margin:1em;
}

.tour_table {
  height:300px;
  overflow:auto;
  border:solid 1px;
  padding:1em;
  margin:1em;
  color:white
}

