th {
  text-align: left;
  text-decoration: underline;
  font-size: 1.3em;
  color: white;
}

td {
  text-align: left;
  color: white;
  font-family: 'open-sans';
  padding: 2px;
  font-size: 1em;
}

.similarArtists p {
  text-align: center;
}

.spotifyEmbed {
  height: 80%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.pink {
  color: purple;
}

.orange {
  color: orange;
}

.legend {
  font-size: 1.2em;
  color: #d5d5d5;
}

a {
  color: inherit;
}

label {
  font-size: 1.2em;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 150px;
    text-align: center;
    text-transform: lowercase;
}

a {
  cursor: pointer;
}