.full-width-absolute {
  /*position: absolute;*/
  left: 20px;
  right: 20px;
}

img {
  width: 100%;
}

.slick {
  height: 150px;
  width: 150px;
  padding: .5em;
}

a {
  color: inherit;
}

a:link {
  color: inherit;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-slider {
  margin-bottom: 0;
}

.col-md-3 {
  padding-left: 3px;
}

.col-md-5 {
  top: 40px;
  padding: 2px;
}

.col-md-4 {
  padding: 2px;
}

.jumbotron {
  padding-bottom: 20px;
  height: 600px;
  opacity: .9;
}

.venueInfo {
  height:420px;
  overflow:auto;
}

.upcomingEvents {
  height:400px;
  overflow:auto;
}

.upcomingEvents ul li {
  text-align:left;
  font-family: 'open-sans';
}